
<!-- tplAbout -->
			<div class="about">
				<h1>AutoTimer Author</h1>
				<div>
					ritzMo<br/>
				</div>
				<hr />
				<h1>AutoTimer WebIf Author</h1>
				<hr />
				<h1>Support</h1>
				<hr />
				<h1>Javascript Libraries</h1>
				<div>
					<a href="http://jquery.com/" target="_blank" class="underline">jQuery.com</a><br />
					<a href="http://www.ama3.com/anytime/" target="_blank" class="underline">Any+Time DatePicker/TimePicker</a><br />
				</div>
				<hr />
				<h1>LICENSE</h1>
				<pre>
All Files of this Software are licensed under the Creative Commons 
Attribution-NonCommercial-ShareAlike 3.0 Unported 
License if not stated otherwise in a files head. To view a copy of this license, visit
http://creativecommons.org/licenses/by-nc-sa/3.0/ or send a letter to Creative
Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.

Alternatively, this plugin may be distributed and executed on hardware which
is licensed by Dream Multimedia GmbH.

This plugin is NOT free software. It is open source, you are allowed to
modify it (if you keep the license), but it may not be commercially 
distributed other than under the conditions noted above.
				</pre>
			</div>
<!-- /tplAbout -->
